 .Timeline-container-2 {
     overflow: hidden;
     /* overflow-y: scroll; */
     scroll-snap-type: y mandatory;
 }

 .Timeline-container {
     height: 30vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     scroll-snap-align: start;
     overflow-y: auto;
     overflow: hidden;
     perspective: 500px;
     margin-bottom: 0;
     margin-top: 0;
 }


 .Timeline-contenant-image {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .h2-Timeline {
     margin: 0;
     color: #546863;
     left: calc(50% + 130px);
     font-size: 56px;
     font-weight: 700;
     letter-spacing: -3px;
     line-height: 1.2;
     position: absolute;
     z-index: -1;
 }

 .p-Timeline {
     margin: 0;
     color: #546863;
     right: 60%;
     bottom: 27%;
     font-size: 1.2rem;
     position: absolute;

 }

 .Timeline-container>.Timeline-contenant {
     height: 180px;
     width: 180px;
     position: absolute;
     max-height: 90vh;
     overflow: hidden;
     border-radius: 50%;
     border: 3px solid #546863;
     background-color: rgb(255, 255, 255);
     box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 
     7px 7px 20px 0px rgba(0, 0, 0, .1),
      4px 4px 5px 0px rgba(0, 0, 0, .1);

 }



 .progress {
     position: fixed;
     left: 0;
     right: 0;
     height: 5px;
     bottom: 100px;
     background-color: #546863;

 }


 @media (max-width: 768px) {
     .Timeline-container-2 {
         overflow: hidden;
         /* overflow-y: scroll; */
         scroll-snap-type: y mandatory;
     }

     .Timeline-container {
         height: 70vh;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         scroll-snap-align: start;
         overflow-y: auto;
         overflow: hidden;
         perspective: 500px;
         margin-bottom: 0;
         margin-top: 0;
     }


     .Timeline-contenant-image {
         width: 100%;
         height: 100%;
         object-fit: cover;
     }

     .h2-Timeline {
         margin: 0;
         color: #546863;
         left: calc(50% + 10px);
         top: 24%;
         font-size: 20px;
         font-weight: 700;
         letter-spacing: 1px;
         line-height: 1.2;
         position: absolute;
     }

     .p-Timeline {
         margin: 0;
         color: #546863;
         right: 62%;
         bottom: -10%;
         font-size: 0.9rem;
         position: absolute;
         text-align: center;
         background-color: rgba(255, 255, 255, 0.185);
     }



     .Timeline-container>.Timeline-contenant {
         height: 180px;
         width: 180px;
         position: absolute;
         top: 40%;
         max-height: 90vh;
         overflow: hidden;
         border-radius: 50%;
         /* border: 2px solid #546863; */
     }



     .progress {
         position: fixed;
         left: 0;
         right: 0;
         height: 5px;
         bottom: 100px;
         background-color: #546863;

     }


 }